.container{
  display: -webkit-box;
}

.row{
  margin-right: .5em;
}

.bug{
  text-align: center;
  color: lime;
  background-color: darkgreen;
}

.food{
  background-color: red;
}

.run{
  margin-top: 1em;
}

.empty{
  color: black;
  /*background-color: lightgray;*/
}

body{
  padding-left: 10%;
}
html{
  background-color: black;
  color: white;
}
