<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'getby/base.css' %}" />
    <meta charset="utf-8">
    <title>The start</title>
  </head>
  <body>

    {% if request.get_full_path == '/' %}
      <form class="" action="/intell/" method="get">
        <input type="text" name="bugs" value="2">
        <input type="text" name="size" value="25">
        <input type="submit" name="" value="run">
      </form>
    {% endif %}
    {% if request.get_full_path == '/nobugs/' %}
      <div class="">
        You let them all die...<br>Restart server to continue
      </div>
    {% endif %}
    <div>
      <div id="matrix" class="matrix">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
    {% if request.get_full_path == '/' %}
    {% else %}
      <!-- <script src="{% static 'getby/jqmin.js' %}" type="text/javascript"></script>
      <script type="text/javascript" src="{% static 'getby/app.js' %}">
      // (setTimeout(function() {
      //   update();
      // }, 55))();
      // function update() {
      //   $.ajax({
      //     type: "GET",
      //     url: '',  // URL to your view that serves new info
      //     success: function(data) {
      //       $('#matrix').html(data);
      //     }
      //   });
      // };
      </script> -->
    {% endif %}
</html>
