{% extends 'getby/homepage.html' %}

{% load static %}

{% block title %}Matrix{% endblock %}

{% block content %}
  <div class="">
    {% if bug %}
      {{ bug }}
    {% endif %}
    {% if cd %}
      {{ cd }}
    {% endif %}
    {% if id %}
      {{ id }}
    {% endif %}
    {% if bugs %}
      <h3>Moving...</h3>
      {{ bugs }} live bugs
    {% else %}
      <div class="">
        You let them all die...<br>Restart server to continue
      </div>
    {% endif %}
  </div>
  <br>
  <div class="container">
    {% if matrix %}
      {% for row in matrix %}
        <div class="row">
          {% for spot in row %}
            {% if spot.0 %}
              {% if spot.0.id %}
                <div class="bug">
                  {{ spot.0.id }}
                  <!-- {{ 0 }} -->
                </div>
              {% else %}
                <div class="food">
                  X
                </div>
              {% endif %}
            {% else %}
              <div class="empty">
                {{ spot }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <form class="" action="/intell/" method="post">{% csrf_token %}
    <input class="run" type="submit" name="" value="feed">
  </form>
  {% if bugs %}
    <script src="{% static 'getby/jqmin.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'getby/app.js' %}"></script>
  {% else %}
    <script type="text/javascript">
      clearTimeout()
      (function update() {
        $.ajax({
          type: "GET",
          url: '/nobugs',  // URL to your view that serves new info
          success: function(data) {
            $('#matrix').html(data)
          }
        })
      })()
    </script>
  {% endif %}
{% endblock %}
